<h1>Registrar nova categoria de carro</h1>

<% if @car_category.errors.any? %>
  <p>Você deve corrigir os seguintes erros:</p>
  <ul>
  <% @car_category.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
  </ul>
<% end %>

<%= form_for @car_category do |f| %>
  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name %>
  <%= f.label :daily_rate, 'Valor da diária' %>
  <%= f.text_field :daily_rate %>
  <%= f.label :car_insurance, 'Seguro do carro' %>
  <%= f.text_area :car_insurance %>
  <%= f.label :third_party_insurance, 'Seguro contra terceiros' %>
  <%= f.text_area :third_party_insurance %>
  <%= f.submit 'Enviar' %>
<% end %>
