<h1><%= @manufacturer.name %></h1>

<h2>Modelos Cadastrados</h2>
<%= @manufacturer.car_models.each do |cm| %>
  <%= cm.name %>
<% end %>

<%= link_to 'Editar', edit_manufacturer_path(@manufacturer) %>

<%= link_to "Deletar Fabricante", manufacturer_path(@manufacturer), :data => {:method => "delete"} %>

<%= link_to 'Voltar', root_path %>
